@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #efefef;
  --pad: max(20px, 4vmin);
}

.background,
.header {
  top: var(--pad);
  right: var(--pad);
  bottom: var(--pad);
  left: var(--pad);
}

.about {
  bottom: var(--pad);
  right: var(--pad);
}

* {
  xborder: 1px solid blue;
}

h1 {
  line-height: 1.35;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
