@tailwind base;
@tailwind components;
@tailwind utilities;

$--skill-br: 5px;
$--skill-bc: #ccc;
$--skill-m: 0 0.5rem 0.5rem 0;
$--skill-p: 0.1rem 0.3rem;
$--skill-fs: 0.8rem;

$--border-r: 5px;
$--border-c: #e5e5e5;

$--pad: max(20px, 4vmin);

$--alabaster: #f4ede2;
$--gray: #bbb;
$--bright-gray: #efefefec;
$--davy-gray: #555;
$--sonic-silver: #777;
$--blizzard-blue: #b5e0f655;
$--beau-blue: #b9d8e8;
$--bubble-gum-pink: #fec4cd55;
$--metalic-pink: #edb1b7;

* {
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: $--alabaster;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


div::-webkit-scrollbar {
  display: none;
}

.madelen {
  background-image: url(/src/assets/madelen.png);
  transform: rotateY(180deg);
}

video {
  transform: rotateY(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
}

.background {
  background-color: $--bright-gray;
}

.background {
  top: $--pad;
  right: $--pad;
  bottom: $--pad;
  left: $--pad;
}

.left {
  flex: 0.5;

  .nav {
    &-item {
      letter-spacing: 1px;
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      text-decoration: line-through;
    }
  }
}

.content {
  overscroll-behavior: none;
  flex: 0.6;

  .experience,
  .skills,
  .projects {
    .title {
      font-size: 2rem;
      text-align: center;
      margin: 6rem auto 2rem;
      letter-spacing: 1px;
    }
  }

  p {
    margin-bottom: 2rem;
  }

  .skills {
    &-title {
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-thickness: from-font;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: #222;
      letter-spacing: 0.5px;
    }

    li {
      font-size: 0.9rem;
      color: $--davy-gray;

      &.note {
        color: $--sonic-silver;
        margin-bottom: 0.5rem;
      }
    }
  }

  .skill-item {
    margin: $--skill-m;
    border: 1px solid $--skill-bc;
    border-radius: $--skill-br;
    padding: $--skill-p;
    font-size: $--skill-fs;

    &:nth-child(odd) {
      &:hover {
        background-color: $--blizzard-blue;
        border: 1px solid $--beau-blue;
      }
    }
    &:nth-child(even) {
      &:hover {
        background-color: $--bubble-gum-pink;
        border: 1px solid $--metalic-pink;
      }
    }
  }

  .experience-item,
  .project-item {
    border-radius: $--skill-br;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 3px 0px $--gray;
    }
  }

  .puppy {
    cursor: url('/src/assets/puppy.png'), default;
  }
  .puppy2 {
    cursor: url('/src/assets/puppy2.png'), default;
  }
}

h1 {
  line-height: 1.35;
  letter-spacing: 1px;
}

table, th, td, thead, tbody {
  padding: 1.25rem;
  text-align: left;
}

.all-projects {
  table {
    tr:first-of-type {
      border-bottom: 1px solid $--border-c;
    }

    th {
      font-weight: 500;
      font-size: 0.9rem;
    }

    tr + tr {
      border-top: 1px solid $--border-c;
      border-bottom: 1px solid $--border-c;
    }

    td {
      vertical-align: baseline;

      &:first-of-type {
        min-width: 5rem;
      }

      &:nth-child(2) {
        min-width: 12rem;
        font-weight: 500;
      }
    }
  }

  .built-with {
    ul {
      flex-wrap: wrap;

      li {
        border: 1px solid $--skill-bc;
        border-radius: $--skill-br;
        margin: $--skill-m;
        padding: $--skill-p;
        font-size: $--skill-fs;
        transition: background-color 0.1s ease-in;
        cursor: default;

        &:nth-child(odd) {
          &:hover {
            background-color: $--blizzard-blue;
            border: 1px solid $--beau-blue;
          }
        }
        &:nth-child(even) {
          &:hover {
            background-color: $--bubble-gum-pink;
            border: 1px solid $--metalic-pink;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  video {
    display: block;
  }

  .madelen {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  * {
    scroll-behavior: smooth;
  }

  video {
    display: none;
  }

  .madelen {
    display: block;
  }
}
