@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #efefef;
  --pad: max(20px, 4vmin);
  overscroll-behavior: none;
}

.cursor {
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  transition: all 50ms ease-in-out;
}

a:hover {
  cursor: none;
}

.background {
  backdrop-filter: blur(10px);
  background-color: #efefefbb;
}

.madelen {
  background-image: url('/src/assets/madelen.png');
}

.background,
.header {
  top: var(--pad);
  right: var(--pad);
  bottom: var(--pad);
  left: var(--pad);
}

.left {
  flex: 0.4;
  margin: var(--pad);
}

.right {
  flex: 0.6;
  margin: var(--pad);
  
  p {
    margin-bottom: 2rem;
  }

  ul {
    .title {
      text-transform: uppercase;
      text-decoration: underline;
      text-underline-offset: 5px;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: #222;
    }

    li {
      font-size: 0.9rem;
      color: #555;

      &.note {
        color: #777;
        margin-bottom: 0.5rem;
      }
    }
  }
}

* {
  xborder: 1px solid blue;
}

h1 {
  line-height: 1.35;
  letter-spacing: 1px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
